<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Product">
        <id column="productId" jdbcType="INTEGER" property="productId" />
        <result column="productName" jdbcType="VARCHAR" property="productName" />
        <result column="classId" jdbcType="INTEGER" property="classId" />
        <result column="supplierId" jdbcType="INTEGER" property="supplierId" />
        <result column="price" jdbcType="FLOAT" property="price" />
        <result column="productDesc" jdbcType="VARCHAR" property="productDesc" />
    </resultMap>

    <select id="select" resultMap="BaseResultMap" parameterType="club.fangqcloud.pojo.Product">
        select * from product
        <where>
            <if test="productId != '' and productId != null">
                and productId = #{productId}
            </if>
            <if test="productName != '' and productName != null">
                and productName = #{productName}
            </if>
        </where>
    </select>

    <select id="selectByName" resultMap="BaseResultMap" parameterType="club.fangqcloud.pojo.Product">
        select * from product
        where productName = #{productName}
    </select>

    <insert id="insert" parameterType="club.fangqcloud.pojo.Product">
        insert into product
        <set>
            <if test="productId != '' and productId != null">
                productId = #{productId},
            </if>
            <if test="productName != '' and productName != null">
                productName = #{productName},
            </if>
            <if test="classId != '' and classId != null">
                classId = #{classId},
            </if>
            <if test="supplierId != '' and supplierId != null">
                supplierId = #{supplierId},
            </if>
            <if test="productDesc != '' and productDesc != null">
                productDesc = #{productDesc},
            </if>
            <if test="price != '' and price != null">
                price = #{price},
            </if>
        </set>
    </insert>

    <update id="update" parameterType="club.fangqcloud.pojo.Product">
        update product
        <set>
            <if test="price != '' and price != null">
                price = #{price},
            </if>
            <if test="supplierId != '' and supplierId != null">
                supplierId = #{supplierId},
            </if>
            <if test="classId != '' and classId != null">
                classId = #{classId},
            </if>
            <if test="productDesc != '' and productDesc != null">
                productDesc = #{productDesc},
            </if>
        </set>
        where productId = #{productId}
    </update>


    <delete id="deleteById" parameterType="Integer">
        delete from product where productId = #{productId}
    </delete>

</mapper>