<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.PurchaseMapper">
    <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Purchase">
        <id column="purchaseId" jdbcType="INTEGER" property="purchaseId" />
        <result column="productId" jdbcType="INTEGER" property="productId" />
        <result column="supplierId" jdbcType="INTEGER" property="supplierId" />
        <result column="price" jdbcType="FLOAT" property="price" />
        <result column="purchaseNum" jdbcType="INTEGER" property="purchaseNum" />
        <result column="purchaser" jdbcType="VARCHAR" property="purchaser" />
    </resultMap>

    <select id="select" resultType="Map" parameterType="club.fangqcloud.pojo.Purchase">
        select purchase.*, product.productName from purchase,product
        where product.productId = purchase.productId
    </select>

    <select id="selectByName" resultType="Map" parameterType="String">
         select purchase.*, product.productName from purchase,product
        where product.productId = purchase.productId and purchaser = #{purchaser}
    </select>

    <insert id="insert" parameterType="club.fangqcloud.pojo.Purchase">
        insert into purchase
        <set>
            <if test="purchaseId != '' and purchaseId != null">
                purchaseId = #{purchaseId},
            </if>
            <if test="productId != '' and productId != null">
                productId = #{productId},
            </if>
            <if test="supplierId != '' and supplierId != null">
                supplierId = #{supplierId},
            </if>
            <if test="price != '' and price != null">
                price = #{price},
            </if>
            <if test="purchaseNum != '' and purchaseNum != null">
                purchaseNum = #{purchaseNum},
            </if>
            <if test="purchaser != '' and purchaser != null">
                purchaser = #{purchaser},
            </if>
        </set>
    </insert>

    <update id="update" parameterType="club.fangqcloud.pojo.Purchase">
        update purchase
        <set>
            <if test="price != '' and price != null">
                price = #{price},
            </if>
            <if test="productNum != '' and productNum != null">
                productNum = #{productNum},
            </if>
            <if test="purchaser != '' and purchaser != null">
                purchaser = #{purchaser},
            </if>
        </set>
        where purchaseId = #{purchaseId}
    </update>


    <delete id="deleteById" parameterType="Integer">
        delete from purchase where purchaseId = #{purchaseId}
    </delete>

</mapper>