<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.SellMapper">
    <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Sell">
        <id column="sellId" jdbcType="INTEGER" property="sellId" />
        <result column="productId" jdbcType="INTEGER" property="productId" />
        <result column="sellNum" jdbcType="INTEGER" property="sellNum" />
        <result column="price" jdbcType="FLOAT" property="price" />
        <result column="payWay" jdbcType="VARCHAR" property="payWay" />
        <result column="seller" jdbcType="VARCHAR" property="seller" />
    </resultMap>

    <select id="select" resultType="Map" parameterType="club.fangqcloud.pojo.Sell">
        select sell.*, product.productName from sell,product
        where product.productId = sell.productId
    </select>

    <select id="selectByName" resultType="Map" parameterType="String">
        select sell.*, product.productName from sell,product
        where product.productId = sell.productId and seller = #{seller}
    </select>

    <insert id="insert" parameterType="club.fangqcloud.pojo.Sell">
        insert into sell
        <set>
            <if test="sellId != '' and sellId != null">
                sellId = #{sellId},
            </if>
            <if test="productId != '' and productId != null">
                productId = #{productId},
            </if>
            <if test="sellNum != '' and sellNum != null">
                sellNum = #{sellNum},
            </if>
            <if test="price != '' and price != null">
                price = #{price},
            </if>
            <if test="payWay != '' and payWay != null">
                payWay = #{payWay},
            </if>
            <if test="seller != '' and seller != null">
                seller = #{seller},
            </if>
        </set>
    </insert>

    <update id="update" parameterType="club.fangqcloud.pojo.Sell">
        update sell
        <set>
            <if test="price != '' and price != null">
                price = #{price},
            </if>
            <if test="sellNum != '' and sellNum != null">
                sellNum = #{sellNum},
            </if>
            <if test="payWay != '' and payWay != null">
                payWay = #{payWay},
            </if>
            <if test="seller != '' and seller != null">
                seller = #{seller},
            </if>
        </set>
        where sellId = #{sellId}
    </update>


    <delete id="deleteById" parameterType="Integer">
        delete from sell where sellId = #{sellId}
    </delete>

</mapper>