<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.SupplierMapper">
    <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.Supplier">
        <id column="supplierId" jdbcType="INTEGER" property="supplierId" />
        <result column="supplierName" jdbcType="VARCHAR" property="supplierName" />
        <result column="agent" jdbcType="VARCHAR" property="agent" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="address" jdbcType="VARCHAR" property="address" />
    </resultMap>

    <select id="select" resultMap="BaseResultMap" parameterType="club.fangqcloud.pojo.Supplier">
        select * from supplier
        <where>
            <if test="supplierId != '' and supplierId != null">
                and supplierId = #{supplierId}
            </if>
            <if test="supplierName != '' and supplierName != null">
                and supplierName = #{supplierName}
            </if>
            <if test="agent != '' and agent != null">
                and agent = #{agent}
            </if>
            <if test="phone != '' and phone != null">
                and phone = #{phone}
            </if>
            <if test="address != '' and address != null">
                and address = #{address}
            </if>
        </where>
    </select>

    <select id="selectByName" resultMap="BaseResultMap" parameterType="club.fangqcloud.pojo.Supplier">
        select * from supplier
        where supplierName = #{supplierName}
    </select>

    <insert id="insert" parameterType="club.fangqcloud.pojo.Supplier">
        insert into supplier
        <set>
            <if test="supplierName != '' and supplierName != null">
                supplierName = #{supplierName},
            </if>
            <if test="agent != '' and agent != null">
                agent = #{agent},
            </if>
            <if test="phone != '' and phone != null">
                phone = #{phone},
            </if>
            <if test="address != '' and address != null">
                address = #{address},
            </if>
        </set>
    </insert>

    <update id="update" parameterType="club.fangqcloud.pojo.Supplier">
        update supplier
        <set>
            <if test="supplierName != '' and supplierName != null">
                supplierName = #{supplierName},
            </if>
            <if test="agent != '' and agent != null">
                agent = #{agent},
            </if>
            <if test="phone != '' and phone != null">
                phone = #{phone},
            </if>
            <if test="address != '' and address != null">
                address = #{address},
            </if>
        </set>
        where supplierId = #{supplierId}
    </update>


    <delete id="deleteBySupplierId" parameterType="Integer">
        delete from supplier where supplierId = #{supplierId}
    </delete>

</mapper>