<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.User">
        <id column="userId" jdbcType="INTEGER" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="userPermission" jdbcType="VARCHAR" property="userPermission" />
        <result column="productPermission" jdbcType="VARCHAR" property="productPermission" />
        <result column="purchasePermission" jdbcType="VARCHAR" property="purchasePermission" />
        <result column="sellPermission" jdbcType="VARCHAR" property="sellPermission" />
        <result column="supplierPermission" jdbcType="VARCHAR" property="supplierPermission" />

    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="Integer">
        select * from user
        where userId = #{userId}
    </select>

    <select id="selectByUsername"  resultMap="BaseResultMap" parameterType="String">
        select * from user
        where username = #{username}
    </select>



    <select id="selectDynatic" resultMap="BaseResultMap" parameterType="club.fangqcloud.pojo.User">
        select * from user
        <where>
            <if test="userId != '' and userId != null">
                userId = #{userId}
            </if>
            <if test="username != '' and username != null">
                and username = #{username}
            </if>
            <if test="password != '' and password != null">
                and password = #{password}
            </if>
            <if test="userPermission != '' and userPermission != null">
                and userPermission = #{userPermission}
            </if>
            <if test="productPermission != '' and productPermission != null">
                and productPermission = #{productPermission}
            </if>
            <if test="purchasePermission != '' and purchasePermission != null">
                and purchasePermission = #{purchasePermission}
            </if>
            <if test="sellPermission !='' and sellPermission != null">
                and sellPermission = #{sellPermission}
            </if>
            <if test="supplierPermission != '' and supplierPermission != null">
                and supplierPermission = #{supplierPermission}
            </if>
        </where>
    </select>

    <insert id="insertDynatic" parameterType="club.fangqcloud.pojo.User">
        insert into user
        <set>
            <if test="username != '' and username != null">
                username = #{username},
            </if>
            <if test="password != '' and password != null">
                password = #{password},
            </if>
            <if test="userPermission != '' and userPermission != null">
                userPermission = #{userPermission},
            </if>
            <if test="productPermission != '' and productPermission != null">
                productPermission = #{productPermission},
            </if>
            <if test="purchasePermission != '' and purchasePermission != null">
                purchasePermission = #{purchasePermission},
            </if>
            <if test="sellPermission != '' and sellPermission != null">
                sellPermission = #{sellPermission},
            </if>
            <if test="supplierPermission != '' and supplierPermission != null">
                supplierPermission = #{supplierPermission},
            </if>
        </set>
    </insert>

    <update id="updateDynamic" parameterType="club.fangqcloud.pojo.User">
        update user
        <set>
            <if test="username != '' and username != null">
                username = #{username},
            </if>
            <if test="password != '' and password != null">
                password = #{password},
            </if>
            <if test="userPermission != '' and userPermission != null">
                userPermission = #{userPermission},
            </if>
            <if test="productPermission != '' and productPermission != null">
                productPermission = #{productPermission},
            </if>
            <if test="purchasePermission != '' and purchasePermission != null">
                purchasePermission = #{purchasePermission},
            </if>
            <if test="sellPermission != '' and sellPermission != null">
                sellPermission = #{sellPermission},
            </if>
            <if test="supplierPermission != '' and supplierPermission != null">
                supplierPermission = #{supplierPermission},
            </if>
        </set>
        where userId = #{userId}
    </update>

    <delete id="deleteByUserId" parameterType="Integer">
        delete from user where userId = #{userId}
    </delete>

</mapper>